[submodule "catkin_ws/src/pedsim_ros"]
	path = catkin_ws/src/pedsim_ros
	url = https://github.com/srl-freiburg/pedsim_ros
[submodule "catkin_ws/src/turtlebot3_msgs"]
	path = catkin_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
