<launch>
        <!-- Change the .world file name and .xml scenario file name here to the one you like -->
        <!-- Please modify the followsing two lines for loading customize .xml scenario and .world files.  -->
        <arg name="world_file" default="newstreet_4blocks"/>


        <!-- Gazebo Robot Parameters -->
        <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
        <arg name="x_pos" default="5"/> 
        <arg name="y_pos" default="10"/>
        <arg name="z_pos" default="0.0"/>

        <!-- Select Gazebo Robot Model. For our project, it is set to be 'burger'. -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />


 

        <!-- Open Gazebo -->
        <!-- The .world file is modified to read from customize worlds folder inside customize pkg -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/$(arg world_file).world"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
         </include>


        <!-- load turtlebot3 model into the gazebo world -->
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    
        <!-- load the turtlebot3 teleop key controller -->
        <param name="model" value="$(arg model)"/>
        <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen">
        </node>

</launch>